<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>    
    <div class="container">    
        <a href="/RegistrarEntrada">Nuevo</a>        
        <div class="row">
            <% if(arrayRow.length) { %>
                <% arrayRow.forEach(entrada => { %>
                    <div class="col-lg-4">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">                            
                                    <h5 class="modal-title"><%= entrada.titulo %></h5>
                                    <div><a href="delete/<%= entrada.id %>">Borrar</a></div>
                                    <div><a href="update/<%= entrada.id %>">Editar</a></div>
                                </div>
                                <div class="modal-body">
                                    <p><%=entrada.cuerpo%></p>
                                </div>
                                <div class="modal-footer">
                                    <p><%=entrada.fecha%></p>
                                </div>
                            </div>
                        </div>
                    </div>
                <%});%>
            <% } else { %>
                <h2>Sin entradas aun</h2>
            <% } %>
        </div>  
    </div>
</body>
</html>